<h1 class="iti-h1">here are all your city trips, <span class="petrol-word">Kim</span></h1>

<% @user_itineraries.order(created_at: :desc).each do |i| %>
  <% city = i.sights.first.city %>
  <% sight = i.sights.first %>
  <div class="iti-card-product mt-3">
    <%= link_to cl_image_tag(sight.photos.first.key), itinerary_path(i) %>
    <div class="iti-card-product-infos">
      <h2 class="petrol-word">
        <%= ["a nice stroll in ", "fun day in ", "enjoy ", "discover ", "my adventure in ", "cool sights in ", "the best of ", "my city tour in "].sample + city.name %>
      </h2>
      <div class="itinerary-card">
        <p><%= i.stops.length == 3 ? "half day city tour" : "full day city tour" %></p>
        <p><%= i.created_at.strftime("created on %d/%m/%Y") %></p>
        <div class="iti-button-wrapper">
          <%= link_to "delete",
          itinerary_path(i),
          class:'btn-red-xs',
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# start a new route button %>
<div>
</div>
