<div class='container' data-controller='preferences'>
  <h1 class="mt-3 bold">what are your <span class="petrol-word">interests?</span></h1>
    <h6>select your favorites</h6>
  <%= form_tag sight_sorting_path, method: :get, class: "row" do |form| %>
      <% @all_categories_instances.each do |category| %>
        <div class="checkbox col-6 d-flex justify-content-center mt-4">
          <label class="checkbox-wrapper">
            <div class="checkbox-tile">
              <%= check_box_tag 'categories[]', category.title, false, data: { action: "click->preferences#checkAsGreen" }, class:"d-none" %>
              <%= cl_image_tag category.photo.key, class: "size" %>
            <span class="checkbox-label mt-2"><%= category.title %></span>
            </div>
          </label>
        </div>
      <% end %>
      <div class="d-flex justify-content-center mt-3">
        <%= submit_tag "Let's go!", class: "btn category-btn-turq" %>
      </div>
    <% end %>
  </div>
</div>
