<p><%= session[:city] %></p>
<p><%= session[:duration] %></p>

<div class="container">
  <%= form_tag sight_sorting_path, method: :get, class: "d-flex" do |form| %>
    <% @all_categories.each do |category| %>
      <%= check_box_tag 'categories[]', category %>
      <%= label_tag(category) %>
    <% end %>
  <%= submit_tag "Okay", class: "btn btn-primary" %>
  <% end %>
</div>
