<!DOCTYPE html>
<html>
  <head>
    <title>Tripstr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

  </head>

  <body class="app-background-color">
    <% if @no_nav %>
      <%= yield %>
    <% else %>
    <div class="app-background" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('<%= image_path 'tripstr-background.png' %>')">
      <div class="container-sm">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    </div>
    <% end %>
  </body>
</html>
